<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Paid Order List</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <a routerLink="/order-detail/add"><img class="img" src="./assets/img/sharp-add_box-24px.svg" />Create New</a>
                      <a (click)="openModal('custom-modal-2');"><img class="img" src="./assets/img/sharp-add_box-24px.svg" />Open Modal</a>
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>Order No.</th>
                                  <th>Order Date</th>
                                  <th></th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let order of orders">
                                    <td>{{order.id}}</td>
                                    <td>{{order.orderDate}}</td>
                                    <td align="right"><a routerLink="/order-detail/{{order.id}}"><img class="img" src="./assets/img/view.svg" /></a></td>
                                  </tr>
                              </tbody>
                          </table>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<jw-modal id="custom-modal-2">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>
