<div *ngIf="product">
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Product Detail</h4>
                      <p class="card-category">Subtitle here</p>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Product No." [(ngModel)]="product.id" name="id" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Product Title" [(ngModel)]="product.productTitle" name="productTitle" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Category" [(ngModel)]="product.productCategory" required>
                                          <mat-option value="Classical">Book</mat-option>
                                          <mat-option value="Muic Score">Music Score</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Author" [(ngModel)]="product.productAuthor" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Year of Publication" [(ngModel)]="product.yearOfPublication" required>
                                      </mat-form-field>
                                  </div>

                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Unit Price" [(ngModel)]="product.unitPrice" type="number" required>
                                      </mat-form-field>
                                  </div>
                                  </div>
                                  <div class="row">
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Publisher" [(ngModel)]="product.publisher" required>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Available Inventory" [(ngModel)]="product.availableInventory" type=”number” step="1" no-float disabled>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                              <div class="col-md-4">
                                Product Demand
                                  <mat-form-field>
                                    <mat-select [(value)]="product.productDemand">
                                      <mat-option value="High">High</mat-option>
                                      <mat-option value="Low">Low</mat-option>
                                      <mat-option value="Medium">Medium</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                Service Level
                                  <mat-form-field class="example-full-width">
                                    <mat-select [(value)]="product.serviceLevel">
                                      <mat-option value="High">High</mat-option>
                                      <mat-option value="Low">Low</mat-option>
                                      <mat-option value="Medium">Medium</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                Supplier Lead Time
                                  <mat-form-field class="example-full-width">
                                    <mat-select [(value)]="product.supplierLeadTime">
                                      <mat-option value="Long">Long</mat-option>
                                      <mat-option value="Short">Short</mat-option>
                                      <mat-option value="Moderate">Moderate</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                Stock Level
                                  <mat-form-field class="example-full-width">
                                    <mat-select [(value)]="product.stockLevel">
                                      <mat-option value="High">High</mat-option>
                                      <mat-option value="Low">Low</mat-option>
                                      <mat-option value="Medium">Medium</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <button mat-raised-button (click)="save()"class="btn btn-danger pull-left">Save</button>
                              </div>
                              <div class="col-md-4">
                                <button mat-raised-button (click)="goBack()"class="btn btn-danger pull-left">Back</button>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
