<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Order List</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                        <button routerLink="/add-order-detail" mat-button class="btn btn-grey">
                            <i class="material-icons">add</i>
                            Create New
                        </button>
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>Order No.</th>
                                  <th>Customer</th>
                                  <th>Order Date</th>
                                  <th>Status</th>
                                  <th></th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let order of orders">
                                    <td>{{order.id}}</td>
                                    <td><span *ngIf="order.customer">{{order.customer.name}}</span></td>
                                    <td>{{order.orderDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{order.status}}</td>
                                    <td align="right">
                                        <button routerLink="/order-detail/{{order.id}}" mat-button class="btn btn-white btn-just-icon">
                                            <i class="material-icons">zoom_in</i>
                                        </button>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

