<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th></th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let order of orders">
                                    <td>{{order.id}}</td>
                                    <td>{{order.name}}</td>
                                    <td><img (click)="onSelect(order)" class="img" src="./assets/img/view.svg" /></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-order-detail [order]="selectedOrder"></app-order-detail>
