<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                        <div class="col-md-4">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        </div>
                        <div class="col-md-4">
                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Product List</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">
                            <button routerLink="/add-product-detail" mat-button class="btn btn-grey">
                                <i class="material-icons">add</i>
                                Create New
                            </button>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Product ID</th>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Pulished Year</th>
                                        <th>Publisher</th>
                                        <th>Price</th>
                                        <th>Available Inventory</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of products">
                                            <td>{{product.id}}</td>
                                            <td>{{product.productCategory}}</td>
                                            <td>{{product.productTitle}}</td>
                                            <td>{{product.productAuthor}}</td>
                                            <td>{{product.yearOfPublication}}</td>
                                            <td>{{product.publisher}}</td>
                                            <td>{{product.unitPrice | number}}</td>
                                            <td>{{product.availableInventory}}</td>
                                            <td align="right"><a routerLink="/product-detail/{{product.id}}"><img class="img" src="./assets/img/view.svg" /></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
