<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Task List</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Subject</th>
                                    <th>Status</th>
                                    <!-- <th>createdBy</th> -->
                                    <th>createdOn</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let task of tasks">
                                        <td>{{task.id}}</td>
                                        <td>{{task.name}}</td>
                                        <td>{{task.subject}}</td>
                                        <td>{{task.status}}</td>
                                        <!--<td>{{task.createdBy}}</td>-->
                                        <td>{{task.createdOn | date:'dd-MM-yyyy'}}</td>
                                        <td>
                                        <button *ngIf="task.status === 'Ready'" (click)="startTask(task.id);" mat-button class="btn btn-white btn-just-icon">
                                            <i class="material-icons">work</i>
                                        </button>
                                        <button *ngIf="task.status === 'InProgress'" (click)="workOnTask(task.id);" mat-button class="btn btn-white btn-just-icon">
                                            <i class="material-icons">work</i>
                                        </button>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <jw-modal id="custom-modal-2">
      <h1 style="height:1000px">A Tall Custom Modal!</h1>
      <button (click)="closeModal('custom-modal-2');">Close</button>
  </jw-modal>
